<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap" rel="stylesheet">
    <title>Green Env</title>
</head>
<body>
    <div class="body-container">
    <div class="container" id="container">
        <div>
        <div class="form-container sign-up-container">
            <form action="{{ url_for('signup') }}" method="post">
                <h1>Create Account</h1>
                <input type="text" placeholder="First Name"  name="fname"/>
                <input type="text" placeholder="username"  name="username"/>
                <input type="email" placeholder="Email" name="email"/>
                <input type="password" placeholder="Password"  name="password"/>
                <input type="text" placeholder="Address" name="address"> 
                <input type="submit" class="btn-grad" value="Sign up"></input>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="{{ url_for('login') }}" method="post">
                <h1>Sign In</h1>
                <input type="email" placeholder="Email" name="email" />
                <input type="password" placeholder="Password"  name="password"/>
                <input type="submit" class="btn-grad" value="Sign In"></input>
                
                     {% if session["password_incc"] == True %}
                    <p style="color: red;">Incorrect password</p>
                    <p style="visibility: hidden;" >{{ session.pop("password_incc",None) }} </p>
                    {% endif %}
            </form>
        </div>
        </div>

        <div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome to Waste Management Portal</h1>
                    <p>
                        Start from where you left
                    </p>
                    <div class="btn-grad" id="signIn">Sign In</div>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Buddy! Go Green</h1>
                    <p>Join Us on a new adventure</p>
                    <div class="btn-grad" id="signUp">Sign Up</div>

                    <!-- check for empty field -->
                    {% if session["data_enterd"] == True %}
                    <p style="color: red;">enter all fields</p>
                    <p style="visibility: hidden;" >{{ session.pop("data_enterd",None) }} </p>
                    {% endif %}

                    <!-- check for the existing email -->
                    {% if session["email_exist"] == True %}
                    <p style="color: red;">email already registerd</p>
                    <p style="visibility: hidden;" >{{ session.pop("email_exist",None) }} </p>
                    {% endif %}

                    {% if session["success"] == True %}
                    <p style="color: rgb(250, 250, 250);">Registerd Successfully</p>
                    <p style="visibility: hidden;" >{{ session.pop("success",None) }} </p>
                    {% endif %}

                </div>
            </div>
        </div>
        </div>
    </div>

    </div>
    <script type="text/javascript" src="/js/login.js"></script>
</body>
</html>